<style>
    tbody {
        tr {
            &:hover {
                background-color: rgba(255,255,255,0.3);
            }
        }
        td {
            position: relative;
            &:hover {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -9999px;
                    bottom: -9999px;
                    background-color: rgba(255,255,255,0.2);
                    z-index: -1;
                }
            }
        }
        
    }
</style>

            <div class="container"></div>
            <table>
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Teams</th>
                    </tr>
                </thead>
               <tbody>
                    {{#each clubs as |club|}}
                        <tr data-cy='table'>
                            <td data-cy='random-clubs'>
                                {{club.dataValues.club_name}}
                            </td>
                        
                            <td>
                                <a href="/club/{{club.dataValues.id}}" data-cy="view">View</a>,
                                <a href="/club/{{club.dataValues.id}}/update" data-cy='update'>Update</a>,
                                <a href="/club/{{club.dataValues.id}}/delete" data-cy='delete'>Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>

            </table>
                <div class="button-container">
                    <a href="/new-club"><button data-cy='new-club'>Create your club!</button></a>
                    <a href="/all-clubs"><button data-cy='all-clubs'>All the clubs</button></a>
                </div>
            </div>

