<span> Some clubs </span>

<ul>
    {{#each clubs as |club|}}
        <li> 
            {{club.club_name}}
            <a>View</a> 
            <a>Update</a> 
            <a>Delete</a>
        </li>
    {{/each}}
</ul>

<button> Create your club!</button>
